.navbar {
  background: #fafafa;
  color: #083C6C;
  padding: 10px;
  font-size: 4rem;
  font-weight: 700;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  display:inline-flex;
  justify-content: space-between;
  align-items: center;
}
